<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ham.activity.HAMNoteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeWithoutActionBarTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
	        android:name="com.ham.activity.DetailNoteActivity"
	        android:label="@string/app_name"
	        android:parentActivityName="com.ham.activity.HAMNoteActivity"
	        android:windowSoftInputMode="stateHidden" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.ham.activity.HAMNoteActivity" />
    	</activity>
    	
	    <activity
		    android:name="com.ham.activity.AlertActivity"
		    android:label="ALert" 
		    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
	        <intent-filter>
		        <action android:name="com.ham.activity.AlertActivity" />
		        <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
	    </activity>
	    
	    <activity
	        android:name="com.ham.activity.ImageShowActivity"
	        android:label="@string/app_name"
	        android:parentActivityName="com.ham.activity.DetailNoteActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.ham.activity.DetailNoteActivity" />
    	</activity>
	    
    	<receiver android:name="com.ham.dialog.RestartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
    	</receiver>
    	
    </application>

</manifest>
